ZOTERO_LIBRARY_ID=your_library_id
ZOTERO_API_KEY=your_api_key
ZOTERO_LIBRARY_TYPE=group

# Neo4j credentials
NEO4J_USER=neo4j
NEO4J_PASS=your_neo4j_password
NEO4J_URI=bolt://neo4j-kg:7687

OPEN_ROUTER_API_KEY=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=